<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>sol</string>
    <key>CFBundleName</key>
    <string>Sol</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>DocSetPlatformFamily</key>
    <string>sol</string>
    <key>DashDocSetFamily</key>
    <string>dashtoc</string>
    <key>isDashDocset</key>
    <true/>
    <key>isJavaScriptEnabled</key>
    <false/>
    <key>DashDocSetDefaultFTSEnabled</key>
    <true/>
    <key>DashDocSetFallbackURL</key>
    <string>https://github.com/hyperswine/Playground/tree/main/sol</string>
</dict>
</plist>